@font-face {
    font-family: neu;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
    font-family: hell;
    src: url(./Helvetica_NTUXwLmxSC.ttf);
}
@font-face {
    font-family: hellb;
    src: url(./HelveticaNowDisplay-Bold_VMHV5twUMR.ttf);
}

*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
}


.green{
    color: rgb(115, 251, 115);
}
.gray{
    color: grey;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(8px);
    

}
.nav1{
    display: flex;
    align-items: flex-end;
    gap: 18px;
}
.nav1 h4{
    font-family: neu;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.3;
}
.nav1 img{
    height: 45px;
}

.nav2{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: 300px;
}
.nav2 h4{
    font-family: neu;
    font-size: 16px;
    font-weight: 100;
}
.nav2 h4 i{
    font-size: 20px;
}

.nav3{
    display: none;
    align-items: center;
    gap: 35px;
}
.nav3 h4{
    font-family: neu;
    font-size: 16px;
    font-weight: 100;
}

@media (max-width: 600px) {
    nav{
        padding: 13px 20px;
    }
    nav img{
        height: 30px;
    }
    .nav1 h4{
        font-size: 12px;
    }
    .nav2{
        display: none;
    }
    .nav3{
        display: flex;
    }
}



.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 90px 70px;
    font-family: hell;
}
.section1 .left{
    width: 42%;
}
.left h1{
    font-size: 48px;
}
.section1 .left .tags{
    display: flex;
    align-items: center;
    gap: 10px 10px;
    margin: 40px 0px;
    flex-wrap: wrap;
}
.section1 .left .tags h4{
    background-color: #262526;
    border-radius: 4px;
    white-space: nowrap;
    padding: 10px 20px;
}
.left .price{
    font-size: 35px;
}
.left .price .gray{
    font-size: 20px;
    font-weight: 800;
}
.price .gst{
    font-size: 20px;
}


#btns{
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#btns1{
    background-color: #017c38;
    padding: 23px 105px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: transform 200ms ease, box-shadow 220ms ease;
    cursor: pointer;
}
#btns1:hover{
    background-color: rgb(3, 133, 3);
    transform: translateY(-8px);
    box-shadow: 0px 12px 70px 10px rgba(126, 123, 123, 0.274);
}



#btns2{
    background-color: #333333;
    padding: 23px 70px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    transition: transform 200ms ease, box-shadow 220ms ease;
    cursor: pointer;
}
#btns2:hover{
    background-color: #6666668d;
    transform: translateY(-8px);
    box-shadow: 0px 12px 70px 10px rgba(126, 123, 123, 0.274);
}



.section1 .right .class-in{
    width: 600px;
    border-radius: 10px;
    background-color: #262526;
    overflow: hidden;
}
.class-in .image{
    width: 100%;  
}
.class-in .image img{
    width: 100%;
    object-fit: cover;
}
.image-bottom{
    padding: 20px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image-bottom h4{
    background-color: #151515;
    padding: 15px 15px;
    border-radius: 5px;
    width: 44%;
}
.image-bottom .green{
    font-weight: 500;
}

@media (max-width: 1400px) {
    .section1 .left h1{
        font-size: 3.5vw;
    }
}
@media (max-width: 600px) {
    .section1 .left h1{
        font-size: 5vw;
    }
}
@media (max-width: 800px) {
    .section1 .left h1{
        font-size: 33px;
    }
    .section1{
        flex-direction: column-reverse;
        padding: 15px 4vw;
    }
    .section1 .left{
        width: 100%;
        margin-top: 30px;
    }
    .section1 .right .class-in{
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
    main{
        padding-top: 75px;
    }
    .class-in .image{
        width: 100%;
        height: 50vw;
    }
    .image-bottom{
        padding: 10px;
        padding-top: 25px;
        gap: 8px;
    }
    .image-bottom h4{
        padding: 8px 12px;
        font-size: 2.2vw;
    }
    .left .price{
        font-size: 6vw;
    }
    .left .price .gray{
        font-size: 4vw;
    }
    #btns{
        justify-content: space-between;
    }
    #btns1{
        padding: 15px 0px;
        width: 50%;
        text-align: center;
        font-size: 3.5vw;
    }
    #btns2{
        padding: 15px 0px;
        width: 50%;
        text-align: center;
        font-size: 3.5vw;
    }
}


.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2 h1{
    font-family: hellb;
    font-size: 150px;
    position: relative;


    background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/mask%20Large_ZB4lGN8hWZ.png);
    background-size: cover;
    background-clip: text;
    color: transparent;
}
.section2 h1.bloom{
    position: absolute;
    filter: blur(55px);
}

.section2 h3{
    font-size: 45px;
    font-family: hell;
    text-transform: capitalize;
    margin-left: 35px;
    margin-bottom: 25px;
}


@media (max-width: 900px) {
    .section2 h1{
        font-size: 16vw;
        margin-top: 40px;
        text-align: center;
    }
    .section2 h3{
        font-size: 5vw;
        text-align: center;
        margin-bottom: 25px;
    }
}



@media (max-width: 600px) {

  /* hide desktop menu by default */
  .nav2 {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 50%;
    margin-left: 68%;
    padding: 20px;

    background: #111;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    z-index: 999;
  }

  .nav2.show {
    display: flex;
  }

}